@model Model.EmployeeInfo
@{
    ViewBag.Title = "编辑员工";
    Layout = "~/Views/Shared/_ManageLayoutPage.cshtml";
}
<blockquote class="layui-elem-quote blog-manage-breadcrumb">
    <span class="layui-breadcrumb">
        <a href="@Url.Action("List","Employee")">员工管理</a>
        <a><cite>编辑员工</cite></a>
    </span>
</blockquote>
@if (ViewBag.IsError != null && ViewBag.IsError)
{
    <div style="background-color:#f2dede; border-color:#ebccd1; color:#a94442; padding:15px; border-radius:5px; position:relative;">
        <p><strong>错误信息：</strong>员工名称过长，请控制在15个字内！</p>
        <a href="javascript:;" style="position: absolute;right: 18px; top: 17px;"><i class="layui-icon">&#x1006;</i></a>
    </div>
}
<fieldset class="layui-elem-field layui-field-title">
    <legend>编辑员工</legend>
</fieldset>

@using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { @class = "layui-form blog-manage-form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="layui-form-item">
        <label class="layui-form-label">部门名称</label>
        <div class="layui-input-block">
            <select name="DepartmentId" lay-verify="DepartmentId" lay-search="">
                <option value="@Model.DepartmentId">@Model.DepartmentName</option>
                @if (Model != null && Model.deptlist.Count > 0)
                {
                    int i = 0;
                    foreach (var item in Model.deptlist)
                    {
                        if (item.DepartmentName != Model.DepartmentId)
                        {
                            <option value="@item.Id">@item.DepartmentName</option>
                        }
                    }
                }
                else
                {
                    <option value="0">暂无数据</option>
                }
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">员工名称</label>
        <div class="layui-input-block">
            <input type="text" name="employeeName" lay-verify="employeeName" autocomplete="off" value="@Model.EmployeeName" placeholder="请输入员工名称..." class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">员工编码</label>
        <div class="layui-input-block">
            <input type="text" name="employeeNo" lay-verify="employeeNo" autocomplete="off" value="@Model.EmployeeNo" placeholder="请输入员工编码..." class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">员工生日</label>
        <div class="layui-input-block">
            <input type="text" name="employeeBirth" lay-verify="employeeBirth" autocomplete="off" value="@Model.EmployeeBirth" placeholder="请输入员工生日..." class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">员工性别</label>
        <div class="layui-input-block">
            <select name="EmployeeSex" lay-verify="EmployeeSex" lay-search="">
                <option value="@Model.EmployeeSex">@Model.EmployeeSex</option>
                @if (Model.EmployeeSex == "男")
                {
                    <option value="女">女</option>
                }
                else
                {
                    <option value="男">男</option>
                }

            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否在职</label>
        <div class="layui-input-block">
            @{
                var isJob = Model.IsJob ? "checked" : "";
            }
            <input type="checkbox" name="IsJob" lay-verify="IsJob" value="true" lay-skin="switch" @isJob title="是否在职" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入备注内容" name="Remarks" lay-verify="Remarks" class="layui-textarea" value="">@Model.Remarks</textarea>
        </div>
    </div>

    @*<div class="layui-form-item">
            <label class="layui-form-label">是否置顶</label>
            <div class="layui-input-block">
                @{
                    var isTop = Model.IsTop ? "checked" : "";
                }
                <input type="checkbox" name="isTop" lay-skin="switch" value="true" @isTop title="是否置顶" />
            </div>
        </div>*@
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit>立即保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
}
@section scripts{
    <script>
        layui.use(['form', 'layer'], function () {
            var form = layui.form()
            , layer = layui.layer
            , $ = layui.jquery;

            //自定义验证规则
            form.verify({
                categoryName: function (value) {
                    if (value === '') {
                        return '员工名称不能为空！';
                    }
                    if (value.length > 15) {
                        return '员工名称太长啦，请控制在15个字内';
                    }
                    var message = '';
                    $.ajax({
                        async: false, //改为同步请求
                        url: '@Url.Action("CheckEmployeeNo", "Employee")',
                        data: {
                            name: value,
                            id:@Model.Id
                        },
                        dataType: 'json',
                        type: 'get',
                        success: function (result) {
                            if (result.success)
                                message = result.message;
                        }
                    });
                    if (message !== '')
                        return message;
                }
            });
            var $item = $('.layui-nav > .layui-nav-item');
            $item.removeClass('layui-this').eq(2).addClass('layui-this');
        });
    </script>
}

